server:
    port: 9506

spring:
  cloud:
    gateway:
      routes:
        - id: employeeModule
          uri: http://localhost:9408/
          predicates:
          - Path=/employee/**
          filters: 
          - AddRequestHeader=first-request, first-request-headers
          - AddResponseHeader=first-request,r-header-config
          
        - id: consumerModule
          uri: http://localhost:9407/
          predicates:
          - Path=/consumer/**
          filters:
          - AddRequestHeader=second-rquest, second-request-header-prefilter
          - AddResponseHeader=second-request, second-request-header-post-filter