spring:
  profiles:
    active: native
  application:
    name: cloud-config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ChocolateAceCream/cloud-config-servr
server:
  port: 8888
eureka:
  client:
    serviceUrl:
      defaultZone: http://192.168.1.15:8090/eureka