server:
  port: 8888
spring:
  application:
      name: cloud-config
  boot:
    admin:
      client:
        url: http://192.168.1.15:8079
        username: admin
        password: password
        instance:
          service-base-url: http://192.168.1.15:8888/ # 本项目的地址
  profiles:
    active: native
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ChocolateAceCream/cloud-config-servr

eureka:
  client:
    serviceUrl:
      defaultZone: http://192.168.1.15:8090/eureka
      
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
